.products {
    /* self display */
    display: grid;
    width: calc(100% - 18 * 2px);
    height: 100%;

    /* gaps */
    padding-right: var(--s8);
    padding-left: var(--s8);

    /* placement */
    grid-row-start: 2;
    grid-row-end: 2;

    /* display settings */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: var(--s8);
}

.product-box {
    /* dipslay */
    display: grid;
    width: 100%;
    height: 100%;

    /* display settings */
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr;

    /* bg settings */
    background-size: 100%;
    border-radius: var(--s10);

    /* alignment */
    align-items: end;
}

.info-box-padding {
    display: flex;

    /* placement */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;

    /* gaps */
    padding: var(--s9);
    padding-top: var(--s10);
}

.product-info-box {
    /* display */
    display: grid;
    width: 100%;
    min-height: 50px;
    height: auto;

    /* styling */
    background-color: var(--background-primary);
    border: 1.5px solid white;
    border-radius: 6px;

    /* display settings */
    grid-template-columns: 1fr auto;
    grid-template-rows: auto min-content auto;
    column-gap: 12px;

    /* gaps */
    align-self: flex-end;
    padding: var(--s10) var(--s9);
}

.product-name {
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: self-end;

    font-weight: 500;
    font-size: var(--h4);
}

.product-price {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    align-self: center;

    font-weight: 500;
    font-size: var(--h4);
}

.product-description {
    grid-row-start: 3;
    grid-row-end: 3;
    align-self: self-start;

    font-weight: 300;
    font-size: var(--p1);
}

.divider {
    width: 50%;
    height: 1px;

    /* placement */
    grid-row-start: 2;
    grid-row-end: 2;

    /* styling */
    background-color: rgba(255, 255, 255, 1);

    /* gaps */
    margin-bottom: var(--s11);
    margin-top: var(--s11);
}