.drinks {
    /* self display */
    display: grid;
    width: calc(100% - 18 * 2px);
    height: max-content;
    max-height: 100%;

    /* gaps */
    padding-right: var(--s8);
    padding-left: var(--s8);

    /* placement */
    grid-row-start: 2;
    grid-row-end: 2;

    /* display settings */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: var(--s9);
}

.drink-box {
    /* self display */
    width: calc(100% - 24px);
    height: auto;

    /* styling */
    background-color: var(--background-primary);
    border: 1.5px solid white;
    border-radius: 6px;

    /* display settings */
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--s8);

    /* alignment */
    justify-content: center;
    align-items: center;

    /* gaps */
    padding: 6px 12px;
}

.drink-name {
    /* display */
    width: 100%;
    grid-column-start: 1;

    font-weight: 500;
    font-size: var(--h5);
}

.drink-price {
    /* display */
    grid-column-start: 2;
    grid-column-end: 3;

    font-weight: 500;
    font-size: var(--h5);
}