.drinks {
    /* self display */
    display: grid;
    width: calc(100% - 18 * 2px);
    height: max-content;
    max-height: 100%;

    /* gaps */
    padding-right: 18px;
    padding-left: 18px;

    /* placement */
    grid-row-start: 2;
    grid-row-end: 2;

    /* display settings */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 18px;
}

.drink-box {
    /* self display */
    width: calc(100% - 24px);
    min-height: auto;
    max-height: calc(100% - 24px);

    /* styling */
    background-color: rgba(0, 0, 0, 0.5);
    border: 1.5px solid white;
    border-radius: 6px;

    /* display settings */
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 24px;

    /* alignment */
    justify-content: center;
    align-items: center;

    /* gaps */
    padding: 12px;
}

.drink-name {
    /* display */
    width: 100%;
    grid-column-start: 1;

    font-weight: 500;
    font-size: 9pt;
}

.drink-price {
    /* display */
    grid-column-start: 2;
    grid-column-end: 3;

    font-weight: 500;
    font-size: 9pt;
}