h1 {
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
    color: white;
    font-weight: 600;
}

.header {
    padding: 18px;
    width: calc(100% - 18 * 2px);
    height: auto;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.section-title {
    grid-column-start: 1;
    grid-column-end: 1;
    z-index: 100;
}

.page-number {
    grid-column-start: 2;
    grid-column-end: 3;
    z-index: 100;
}