/* design optimizations */
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* document wide p settings defaults */
p {
    margin: 0px !important;
    padding: 0px !important;
    font-family: Poppins !important;
    color: white !important;
    box-sizing: border-box !important;
}

#root {
    display: flex;
    width: 216mm;
    height: 303mm;
    justify-content: center;
    align-items: center;
    margin: 3.175mm;
}